.NodeEdit-breadcrumbs {
  margin-left: calc(-1 * var(--spectrum-global-dimension-static-size-100));
}

.NodeEdit-contextualHelp {
  display: inline-block;
  vertical-align: middle;
  margin-left: var(--spectrum-global-dimension-size-100);
}

[role="menu"] .NodeEdit-contextualHelp {
  display: none;
}
