size = 15px;
stroke-width = 9;

.PopulationAmountIndicator {
  width: size;
  height: size;
  min-height: size;
  min-width: size;
}

.PopulationAmountIndicator-baseRing {
  stroke: var(--spectrum-gray-400);
  stroke-width: stroke-width;
}

.PopulationAmountIndicator-emphasisRing {
  stroke: var(--spectrum-blue-900);
  stroke-width: stroke-width;

  &.is-full {
    stroke-dasharray: 100 0;
  }

  &.is-partial {
    stroke-dasharray: 50 50;
  }

  &.is-empty {
    stroke-dasharray: 0 200;
  }
}
