{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["version", {
      "define": "__EXTENSION_VERSION__"
    }]
  ],
  "presets": [["@babel/preset-env"]],
  "env": {
    "production": {
      "plugins": ["babel-plugin-jsx-remove-data-test-id"]
    }
  }
}
