{
  "plugins": [
    "version"
  ],
  "presets": [["@babel/preset-env"]],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-jsx-remove-data-test-id",
        "@babel/proposal-nullish-coalescing-operator",
        "@babel/proposal-optional-chaining"
      ]
    }
  }
}
