@reactor:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-mcps-release-local/
@react:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/
//artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/:always-auth=false
@spectrum:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-release

