/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import "./utils";

// Simplifies centering things vertically in the middle of the view (like loading errors) or
// creating columns that are the full height of the view and separately scrollable.
html {
  height: 100%
}

html
body,
#root,
.react-spectrum-provider {
  display: flex;
  flex-direction: column;
  flex: 1
}

// This is padding that goes around all the content. We put the padding on the Provider container
// instead of the body because of https://jira.corp.adobe.com/browse/RSP-276
.react-spectrum-provider {
  padding: 12px;
}

// There's extra space to the right of Checkbox and Radio,
// which is not according to design, which makes it hard
// to place tooltips correctly.
// https://github.com/adobe/spectrum-css/issues/124
.spectrum-Checkbox,
.spectrum-Radio {
  margin-right: 0 !important;
}

.spectrum-Alert {
  max-width: 700px;
}

.Label {
  display: inline-block;
  line-height: 2.25rem!important;
}

.FieldSubset {
  margin-left: 24px;
}

.ConstrainedAlert {
  width: 600px;
}

.Rule {
  margin-bottom: 0;
  margin-top: 45px;
}

.AdvancedSettings {
  margin-top: 0;
}


