$gap = 8px;

body {
  padding: 12px;
}

.u-label {
  line-height: 36px !important;
  margin-right: $gap !important;
}

.u-gapLeft {
  margin-left: $gap !important;
}

.u-gapLeft2x {
  margin-left: $gap*2 !important;
}

.u-gapRight {
  margin-right: $gap !important;
}

.u-gapRight2x {
  margin-right: $gap*2 !important;
}

.u-gapTop {
  margin-top: $gap !important;
}

.u-gapTop2x {
  margin-top: $gap*2 !important;
}

.u-gapBottom {
  margin-bottom: $gap !important;
}

.u-gapBottom2x {
  margin-bottom: $gap*2 !important;
}

.u-block {
  display: block !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-italic {
  font-style: italic
}

.u-tooltipMaxWidth {
  max-width: 300px !important;
}

.u-smallTextfield {
  width: 6rem;
}

.u-noWrap {
  white-space: nowrap;
}

.coral-Heading {
  margin-top: 16px;
  margin-bottom: 10px;
}
