<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Extension Configuration</title>
  </head>
  <body>
    Mock Experience Cloud ID Service

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function (info) {},
        getSettings: function () {
          return {};
        },
        validate: function () {
          return true;
        },
      });
    </script>
  </body>
</html>
