.HierarchiesEditor-name {
  width: 110*$px;
}

.HierarchiesEditor-section {
  width: 120*$px;
}

.HierarchiesEditor-chevron {
  margin: 11*$px 12*$px 0 2*$px;
  color: #C4C4C4;
}

.HierarchiesEditor-delimiter {
  min-width: 50*$px; // Overriding CoralUI
  width: 50*$px;
}
