.InfoTip {
}

.InfoTip-icon {
  color: #707070;
}

.InfoTip-tooltip {
  // Important when using an InfoTip inside a heading so that bold doesn't leak through to
  // the tooltip text.
  font-weight: normal !important;
}
