.Cookies {
  clearfix();
}

.Cookies-field {
  width: 250*$px;
}

.Cookies-column {
  float: left;
  width: 350*$px;
}

.Cookies-cookieLifetime {
  width: 115*$px;
}

.Cookies-cookieLifetimeSeconds {
  width: 127*$px;
}
