$col-width = 380*$px;

.Cookies {
  display: flex;
  flex-wrap: wrap;
  // To remove the extra space caused from the margin-bottom on each field.
  margin-bottom: -8px;
  max-width: $col-width*2;
}

.Cookies-field {
  width: $col-width;
  margin-bottom: 8*$px;
}

.Cookies-cookieLifetime,
.Cookies-cookieLifetimeSeconds {
  width: 156*$px;
}
