.ReportSuites-fieldsContainer {
  display: flex;
}

@media all and (max-width: 1000px) {
  .ReportSuites-fieldsContainer {
    flex-direction: column;
  }
}

.ReportSuites-environment {
  min-width: 300*$px;
  margin-bottom: 8*$px;
  margin-right: 20*$px;
}
