.ReportSuites-fieldsContainer {
  display: flex;
}

@media all and (max-width: 1300px) {
  .ReportSuites-fieldsContainer {
    flex-direction: column;
  }
}

.ReportSuites-editor {
  margin-bottom: 8*$px;
}
