.ReportSuites-container {
  margin-bottom: 16px;
}

.ReportSuites-fieldsContainer {
  display: flex;
}

.ReportSuites-autocompleteField {
  margin-right: 30px;
}

.ReportSuites-autocompleteField .coral-Autocomplete {
  width: 305px;
}

.ReportSuites-autocompleteField coral-tag-label {
  max-width:300px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
