.ReportSuite-autocompleteField {
  margin-right: 2rem;
  float: left;
}

.ReportSuite-autocomplete coral-tag-label {
  max-width:18rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
