.ReportSuite-autocompleteField {
  margin-right: 30px;
}

.ReportSuite-autocomplete {
  width: 305px;
}

.ReportSuite-autocomplete coral-tag-label {
  max-width:300px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
