.TagListEditor {
  float: left;
  margin-right: 50px;
  width: 480px;
}

.TagListEditor-tag .coral-Tag-label {
  max-width:430px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
